# Compiled class file
*.class

# Log files
*.log

# IntelliJ project files
.idea/

# Compiled files
target/
out/

# Dependency directories
bin/
lib/

# Environment-specific files
*.iml
*.ipr
*.iws
*.jar
*.war
*.ear
*.swp

# Gradle-specific
.gradle/

# Maven-specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
